.card {
    flex-basis: 15%;
    margin: 10px;
    margin-right: 0px;
    padding: 0.5em;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 160;
    justify-content: flex-start;
    background-color: #3BB764;
    border: 1.5px black solid;
}

.editbutton {
    font-family: 'Times New Roman', Times, serif;
	color: #3BB764;
	font-size: 15px;
	border-radius: 5px;
	border: 2px black solid;
	padding: 10px 18px;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;
}

.deletebutton {
    font-family: 'Times New Roman', Times, serif;
	color: #3BB764;
	font-size: 15px;
	border-radius: 5px;
	border: 2px black solid;
	padding: 10px 18px;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;
}

.savebutton {
    font-family: 'Times New Roman', Times, serif;
	color: #3BB764;
	font-size: 15px;
	border-radius: 5px;
	border: 2px black solid;
	padding: 10px 18px;
	align-items: center;
    margin-top:15px;
    margin-left: 340px;
}

.submitbutton {
    font-family: 'Times New Roman', Times, serif;
	color: #3BB764;
	font-size: 15px;
	border-radius: 5px;
	border: 2px #3BB764 solid;
    margin: 30px auto 10px;
    padding: 10px;
}

.addconcertbutton {
    font-family: 'Times New Roman', Times, serif;
	color: #3BB764;
	font-size: 15px;
	border-radius: 5px;
	border: 2px black solid;
	padding: 10px 18px;
	align-items: center;
    margin-top:15px;
}

.concertform {
    background-color: black;
    width: 500px;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right: auto; 
    color: #3BB764;  
    font-size: 20px;
    padding: 20px;
}

.concertform h2 {
    text-align: center;
    margin-top: 10px;
}

.concerteditform {
    background-color: black;
    width: 500px;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right: auto; 
    color: #3BB764;  
    font-size: 20px;
}

.concerteditform h2 {
    text-align: center;
    margin-top: 10px;
}

.center {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    align-items: center;
}

.submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-list {
    padding: 30px;
    text-align: center;
    font-size: 22px;
}

fieldset {
    border: none;
    margin: 10px;
}