.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: black;
    color: #3BB764;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.nav {
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;
    margin: auto 30px;
    margin-right: 0px;
    font-weight: 400;
    color: #3BB764;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logoutbutton {
    font-family: 'Times New Roman', Times, serif;
	color: #3BB764;
	font-size: 15px;
	border-radius: 5px;
	border: 2px #3BB764 solid;
	align-items: center;
    margin-left: 140px;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

li a {
    color: #3BB764;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500px;
}

li {
    float: left;
    margin: 10px;
    white-space: nowrap;
}

.navbarlogo {
    width: 200px;
    margin-right: 100px;
}